.card{
    background-color: antiquewhite;
    border: 3px solid;
    display: inline-block;
    border-radius: 5%;
    box-shadow:  2px 2px black;
    margin-left: 25px;
    padding: 0;
    transition-duration: 0.4s;
    
}

.card:hover{
    box-shadow:  5px 5px black;

    transition:
     box-shadow 0.3s ease-in-out;
    
}

.card:active{
    transform: translateY(4px);
    box-shadow: 1px 1px black;
    
}

.card h3{
    text-align: center;
    margin: 0;

}

.myimg{
    /* border: 5px solid; */
    width: 50px;
    height: 50px;
    /* margin-right: 50px; */
    margin: 0;
    padding: 0;
    

}


.card h6{
    text-align: left;
    margin: 0;

}

.fastforward{
    width: 15px;
    height: 15px;
    margin: 0;
    

}

.imageholder{
    margin: 0;
    padding: 0;
}

.potentials{
    display:inline-block;
    /* border:3px solid black; */
    margin: 0;
    padding: 0;
}

.potentials-good{
    
        color: gold;
        display:inline-block;
    /* border:3px solid black; */
    margin: 0;
    padding: 0;
   
}

.potentials-bad{
    
    color: red;
    display:inline-block;
/* border:3px solid black; */
margin: 0;
padding: 0;

}

.exp{
    /* border:3px solid black; */
    margin: 0;
    padding: 0;
    display: inline-block;


}

body{
    background-image: url(../public/background.jpg);
    background-repeat: no-repeat;
}

.stats{
    color: whitesmoke;
}


.floor-shadow{
    z-index: 0;
    position: relative;
    bottom: 70px;
    left: 90px;
    padding: 0;
    opacity: 80%;
    /* display: block; */
    /* border: 3px solid; */
}

.character-holder{
    /* margin: 0;
    padding: 0; */
    margin-right: 230px;
    display: inline-block;
    /* border: 3px solid; */

}

/* .character{
    margin: 0;
    padding: 0;
    display: inline-block;
    border: 3px solid;

} */

.my-tabs{
    background-color:burlywood;
    color: whitesmoke;
    vertical-align: top;
    width: 50%;
    max-width: 550px;
    height:400px;
    display: inline-block;
    margin: 0;
    padding: 0;
    border: 3px solid;
}

.habits-holder{
    /* border: 3px solid; */
    margin-bottom: 5%;
    
}