

.potentials{
    display:inline-block;
    /* border:3px solid black; */
    margin: 0;
    padding: 0;
}

.potentials-good{
    
        color: gold;
        display:inline-block;
    /* border:3px solid black; */
    margin: 0;
    padding: 0;
   
}

.potentials-bad{
    
    color: red;
    display:inline-block;
/* border:3px solid black; */
margin: 0;
padding: 0;

}




body { 
    margin: 0;   /* Remove body margins */
}

.main-content-holder{
    padding-left: 25px;
    padding-right: 25px;
}

.main-content{
    max-width: 1500px;
    padding-top: 10px;
    float:left;
    clear:none; 
    background-image: url(../public/background.jpg);
    background-size: cover;
    /* background-repeat: no-repeat; */
    background-position:-400px, -60px;
    
    /* border: 5px solid; */
    /* height: 100%; */
    width: 100%; 
}

.stats{
    color: whitesmoke;
}


.floor-shadow{
    z-index: 0;
    position: relative;
    bottom: 70px;
    left: 90px;
    padding: 0;
    opacity: 80%;
    /* display: block; */
    /* border: 3px solid; */
}



.character-holder{
    /* margin: 0;
    padding: 0; */
    /* max-width:45%; */
    min-width: 450px;
    min-height: 450px;
    margin-right: 100px;
    display: inline-block;
    /* border: 3px solid; */

}













